<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultados</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da soma entre {{num1}} e {{num2}} é = {{resultados['soma']}}</p>
    <p>Resultado da subtração entre {{num1}} e {{num2}} é = {{resultados['sub']}}</p>
    <p>Resultado da multiplicação entre {{num1}} e {{num2}} é = {{resultados['mult']}}</p>
    <p>Resultado da divisão inteira entre {{num1}} e {{num2}} é = {{resultados['div_inteira']}}</p>
    <p>Resultado da divisão fracionada entre {{num1}} e {{num2}} é = {{resultados['div_fra']}}</p>
    <p>Resultado do resto da divisão entre {{num1}} e {{num2}} é = {{resultados['resto']}}</p>
    <p>Resultado da raiz entre {{num1}} e {{num2}} é = {{resultados['raiz']}}</p>
    <br>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>