<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <!-- <input type="hidden" name="id" id="id" value="{{squad.id}}"> <br/>
            <div class="descricoes">  -->
                
            </div>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="descricao" id="descrição" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>

            <input type="text" name="numeropessoas" id="Numero de pessoas" value="{{squad.numeropessoas}}"> <br/>
            <div class="descricoes"> 
                <label for="numeropessoas">Numero de pessoas:</label>
            </div>
           
            <input type="text" name="linguagembackend" id="Linguagem back end" value="{{squad.linguagembackend}}"> <br/>
            <div class="descricoes"> 
                <label for="linguagembackend">Linguaguem back end:</label>
            </div>
            <input type="text" name="frameworkfrontend" id="Framework front end" value="{{squad.frameworkfrontend}}"> <br/>
            <div class="descricoes"> 
                <label for="frameworkfrontend">framework front end:</label>
            </div>
            

            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>