<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Cadastrar Squads</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="conteudo">
        <form action="/salvar" method="get">
            <input type="hidden" name="id" id="id" value="{{squad.id}}">
            <input type="hidden" name="id_ling" id="id" value="{{squad.linguagem.id}}">
            <input type="hidden" name="id_fram" id="id" value="{{squad.framework.id}}">
            <input type="hidden" name="id_sgbd" id="id" value="{{squad.sgbd.id}}">
            <div class="descricoes"> 
                <label for="nome">Nome:</label>
            </div>
            <input type="text" name="nome" id="nome" placeholder="Digite o nome" value="{{squad.nome}}"> <br/>
            <div class="descricoes"> 
                <label for="descricao">Descrição:</label>
            </div>
            <input type="text" name="descricao" id="descricao" placeholder="Digite a descrição" value="{{squad.descricao}}"> <br/>
            <div class="descricoes"> 
                <label for="numeropessoas">Numero Pessoas:</label>
            </div>
            <input type="text" name="numeropessoas" id="numeropessoas" placeholder="Digite o número de pessoas" value="{{squad.numeropessoas if squad.numeropessoas != 0 else ''}}"> <br/>
            <div class="descricoes"> 
                <label for="framework">Linguagem Back End:</label>
            
            </div>
            <input type="text" name="ling" id="linguagem" placeholder="Digite a linguagem" value="{{squad.linguagem.ling}}"> <br/>
            <div class="descricoes">                
                <label for="text">Framework Front End:</label>           
            
            </div>
            <input type="text" name="frame" id="framework" placeholder="Digite o framework" value="{{squad.framework.frame}}"> <br/>
            <div class="descricoes">                
                <label for="text">Sgbd:</label>

            </div> 
            <input type="text" name="sistema_banco" id="sgbd"placeholder="Digite a SGBD" value="{{squad.sgbd.sistema_banco}}"> <br/>
                            

            <hr/>
            <input type="submit" value="Salvar" class="salvar">
            <a href="/cadastrar" class="limpar">Limpar</a>
        </form>
    </div>
</body>
</html>